// global footer styles
#footer {
	overflow: hidden;
	background: $black url(../images/footer-bg.jpg) no-repeat center;
	background-size: cover;
	color: $white;
	position: relative;
	padding: 3rem 0;
	@include breakpoint($small) {
		padding: 5rem 0 2rem;
	}

	&:before {
        content: '';
        background: rgba(0,0,0,.3);
        @extend %absolute-cover;
    }

	@include breakpoint($small) {
		&:after {
			content: '';
			background: url(../images/squiggles.png) no-repeat center;
			width: 418px;
			height: 62px;
			position: absolute;
			z-index: 1;
			top: 60%;
			right: 0;
		}
	}

	h2 {
		color: $white;
	}

	p {
		@include font-size(13);
		font-weight: 600;
		display: block;
		margin-bottom: 1.5rem;
		line-height: 1.5;
	}

	.social {
		@extend %ib;
		margin: 0 0 0 1rem;
		li {
			@extend %ib;
			margin: 0;
			line-height: 2.5em;
			a {
				display: block;
				padding: 0.35rem 1rem;
			}
		}
	}
	.copyright {
		display: block;
		margin-top: 2rem;
		small {
			em {
				display: block;
			}
		}
	}
	.footer-logo {
		@include hide-text();
		display: block;
		height: 31px; // height of header to vertically center
		width: 100%;
		background: url(../images/logo-footer.png) no-repeat center right;
	}

	.contact-page & {
		background: none;
		&:before {
			background: none;
		}
		.container {
			width: 100%;
			.social {
				margin: 0;
			}
		}
	}

}
