html,
body {

}

body{

}

.container,
#header,
#footer {
    max-width: 85%;
    margin: 0 auto;
}

// main container
#main {

}

// added by flexible content
[class*='text-align-'] {
    text-align: center;
}

@include breakpoint($medium) {
    .text-align-left {
        text-align: left;
    }
    .text-align-right {
        text-align: right;
    }
    .text-align-center {
        text-align: center;
    }
}

/* -- Use this wrapper if you want to block-out a column with padding
Taken from http://csswizardry.com/2011/10/the-island-object/) -- */
.island {
    padding: 3vmax 10vw;
}

[data-layout="grid"],
[class=#{$container-class}] {

    &.wide{
        max-width: $large;
    }

    .primary{
        @include columns(1);
    }

    .sidebar,
    aside[role="complementary"]{
        width: 100%;
        @include breakpoint($medium) {
            @include third(1);
        }
    }

    article[role="article"] {

        &.post{

        }

        &:first-of-type{

        }
    }

}

//  if body has class has-sidebar, set primary container to 2/3 width
.has-sidebar{
    .primary{
        width: 100%;
        @include breakpoint($medium) {
            @include third(2);
        }
    }
}