html,
body {

}

body{

}

.container,
#header,
#footer {
    max-width: 85%;
    margin: 0 auto;
}

// main container
#main {
    background: white;
}

// added by flexible content
[class*='text-align-'] {
    text-align: center;
}

@include breakpoint(desktop) {
    .text-align-left {
        text-align: left;
    }
    .text-align-right {
        text-align: right;
    }
    .text-align-center {
        text-align: center;
    }
}

/* -- Use this wrapper if you want to block-out a column with padding
Taken from http://csswizardry.com/2011/10/the-island-object/) -- */
.island {
    padding: 1rem;
    @include breakpoint(tablet) {
        padding: 3rem;
    }
}

// full-width-sections
.full-width-section {
    padding-top: 2rem;
    padding-bottom: 2rem;

    .post-content & {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    @include breakpoint(tablet) {
        padding-top: 5rem;
        padding-bottom: 5rem;
        .post-content & {
            margin-top: 5rem;
            margin-bottom: 5rem;
        }
    }

    &.dark {
        background-color: #222;
        color: white;
        a {
            color: white;
        }
    }

    &.no-padding-top {
        padding-top: 0%;
    }
    &.no-padding-bottom {
        padding-bottom: 0%;
    }
    &.no-padding {
        padding-top: 0;
        padding-bottom: 0;
    }

    // full width
    box-sizing: content-box!important;
    background-size: cover;
    background-position: center;
    margin-left: -50%;
    padding-left: 50%;
    padding-right: 50%;
    position: relative;
    z-index: 0;
    width: 100%;
    max-width: 100%;
    margin: 0 0 0 -50%;
    padding-left: 50%;
    padding-right: 50%;

    // generated by js
    margin-left: -150px;
    padding-left: 150px;
    padding-right: 150px;

    // fix webkit jenkyness
    @extend %no-flick;

    &[class*='colored-overlay-'] {
        color: white;
    }

}

[data-layout="grid"],
[class=#{$container-class}] {

    &.wide{
        max-width: $super-width;
    }

    .primary{
        @include columns(1);
    }

    .sidebar,
    aside[role="complementary"]{
        width: 100%;
        @include breakpoint(desktop) {
            @include third(1);
        }
    }

    article[role="article"] {

        &.post{

        }

        &:first-of-type{

        }
    }

}

//  if body has class has-sidebar, set primary container to 2/3 width
.has-sidebar{
    .primary{
        width: 100%;
        @include breakpoint(desktop) {
            @include third(2);
        }
    }
}