.hero {
	@extend %cover;
	position: relative;
	color: white;
	background-color: $navy;

	min-height: 100%;
	padding: 0;
	// padding: 5rem 0 20vw;

	&:before {
		content: '';
		background: rgba(0,0,0,.3);
		@extend %absolute-cover;
		@extend %vignette;
	}

	.hero-inner {
		text-align: center;
	}

	&#slides {
		li {
			min-height: 100%;
			&:before {
				content: '';
				background: rgba(0,0,0,.3);
				@extend %absolute-cover;
				@extend %vignette;
			}
		}
		.slides-navigation {
			@include font-size(40);
			a {
				color: $white;
				&:hover {
					color: $black;
				}
			}
			.prev {
				left: 1rem;
			}
			.next {
				right: 1rem;
			}
		}
		.slides-pagination {
			margin-bottom: 2rem;
		}
	}
}
