.image-grid {
    margin-top: 2rem;
    margin-bottom: 0rem;
    &.igs-1 {
        .photoset-grid {
            @include breakpoint($small) {
                float: right;
            }
        }
    }
    &.igs-2 {
        @include breakpoint($small) {
            .image-grid-item {
                &:nth-child(2) {
                    float: right;
                }
            }
        }
    }
    .image-grid-item {
        overflow: hidden;
        position: relative;
        background-size: cover;
        &:after {
            content: '';
            display: block;
            padding-bottom: 60%;
        }
        &:first-child {
            margin: 0 0 2rem 0;
            @include breakpoint($small) {
                margin: 0;
            }
        }
    }
}


.photoset-grid-2 {
	margin: 2rem auto;
}
