// parallax scroll
// <div class="parallax" style="background-image: url();"></div>
// <div class="parallax-content"></div>
.parallax {
    background-size: 100% auto;
    background-position: center 0;
    width: 50%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    background-color: black;
    // background-image: url(../images/slider-bg.png);
    background-size: auto;
}
.parallax-content {
    background: white;
    z-index: 1;
    position: relative;
    @include breakpoint($small) {
        margin-left: 50%;
    }
}