.icon-list {
	i {
		padding: 1rem;
		text-decoration: none;
		@include font-size(22);
	}
}

.test {
	background: red;
}

.columns-30,
.columns-70 {

}
article {
	background: green;
	padding: 1rem;
}
aside {
	background: purple;
	padding: 1rem;
}


// grid ib
.ib {
	@include grid(ib);
	li {
		width: 100%;

		// testing purposes
		background: $yellow;
		padding: 1.5rem 0;
		margin-top: 1rem;
		margin-bottom: 1rem;
		font-weight: 600;
		text-align: center;

		@include breakpoint($small) {
			@include columns(6, ib, $gutter: 2%);
		}
	}
}

// cta text w/ button
.cta-more {
	overflow: hidden;
	margin: 2rem 0 0;
	padding: 0 1rem;
	text-align: center;
	h4 {
		font-weight: 400;
		margin-bottom: 1rem;
		display: block;
		@include breakpoint($small) {

		}
		@include breakpoint($medium) {
			margin: 0;
			float: left;
			line-height: 2;
		}
	}
	.btn {
		margin: 0;
		@include breakpoint($medium) {
			float: right;
		}
	}
}
