// file for overriding type styles easily

@for $i from 1 through 6 {
    h#{$i} {
		text-transform: uppercase;
		color: $secondary-color;
		margin: 0 0 1rem;
		.dark &,
		.hero &,
		#footer & {
			color: $theme-color;
		}
    }
}

h1 {
	font-family: $header-font2;
	@include font-size(80);
	font-size: 80pt;
	line-height: 76pt;
	font-weight: 400;
	color: $theme-color;

	margin-bottom: 1.25rem;
}

h2 {
	font-family: $header-font2;
	@include font-size(50);
	font-size: 50pt;
	line-height: 44pt;
	font-weight: 400;

	margin-bottom: 1.5rem;
}

h3 {
	font-family: $header-font;
	@include font-size(24);
	line-height: 23pt;
	@include breakpoint($small) {
		line-height: 43pt;
	}
	font-weight: 600;
	color: $theme-color;
	letter-spacing: -1px;
	margin: 0;
}

h4 {
	font-family: $header-font;
	@include font-size(18);
	font-size: 18pt;
	line-height: 24pt;
	font-weight: 600;
}
h5,
h6 {
	font-family: $header-font;
	font-weight: 600;
}

p {
	@include font-size(14);
	font-size: 14pt;
	line-height: 20pt;
	font-weight: 400;
	color: $secondary-color;
	#footer & {
		color: $white;
	}
}

sup {
	top: -2rem;
	font-weight: 600;
	font-size: 30%;
	h1 & {
		top: -3.2rem;
	}
}
