.home-post {
    h6 {
        // margin-bottom: 0.5rem;
    }
    h2 {

    }
    span.date {
        display: block;
        margin-bottom: 1rem;
    }
    p {

    }
    img {
        margin: 1rem 0 3rem;
    }
    .btn {

    }
}