.colored-header {
    overflow: hidden;
    text-align: center;
    color: black;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    .product.single & {
        border: none;
    }
    .padded-wrapper {
        padding: 50px 0;
        h1 {
            margin: 0;
            & + p {
                margin-top: 1.5rem;
            }
        }
        .product.single & {
            padding: 165px 0;
            h1 {
                display: none;
            }
        }
    }
}

.shop-dropdown {
    background: $dark-grey;
    overflow: hidden;
    position: absolute;
    top: 100%;
    display: none;
    li {
        display: block;
        margin: 0;
        a {
            @include font-size(12);
        }
    }
}

.shop-cat-select {
    text-align: center;
    @include breakpoint($small) {
        text-align: right;
        margin: 0 1rem 1rem 0;
    }
    font-family: $header-font;
    text-transform: uppercase;
    @include font-size(16);
    label {
        display: none;
        @include breakpoint($small) {
            display: inline-block;
            margin-right: 1rem;
        }
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        background: white url(../images/shop-select-bg.jpg) 100% 50% no-repeat;
        background-size: 36px;
        padding: 0.8rem 4rem .5rem 1rem;
        border: 2px solid #000;
        border-radius: 0;
        font-family: $header-font;
        text-transform: uppercase;
        @include font-size(16);

        width: 90%; // mobile only
        @include breakpoint($small) {
            width: auto;
        }
    }
}

.account-wrapper {
    background: url(../images/login-bg.jpg);
    #customer_login {
        h2 {
            margin: 0;
            text-align: center;
        }
        form {
            margin: 0;
            border: none;
            label[for="rememberme"] {
                display: inline-block;
                line-height: 2.5;
                margin-top: 1rem;
                @include breakpoint($small) {
                    margin: 0;
                }
            }
        }
        .col-1 {
            margin-bottom: 2rem;
            @include breakpoint($small) {
                margin: 0;
                .button {
                    float: right;
                }
            }
        }
        .col-1,
        .col-2 {
            background: white;
            padding: 2rem 1rem 0;
        }
    }
}

.product-list {
    border-bottom: 1px solid #eee;
    .archive.product & {
        border-bottom: 0;
        .padded-wrapper {
            padding-bottom: 0;

        }
    }
    .products {
        text-align: justify;
        font-size: 0.1px;
        &:after {
            content: '';
            display: inline-block;
            width: 100%;
        }
        li {
            text-align: center;
            font-size: initial;
            display: inline-block;
            vertical-align: top;
            width: 100%;
            @include breakpoint($medium) {
                width: 50%;
            }
            @include breakpoint($small) {
                width: 33.3%;
            }
        }
    }
}

.product-list-item {
    padding: 1rem!important;
    margin: 0;
    a {
        background-color: transparent;
        h5 {
            line-height: 1.2;
        }
        h4 {
            margin: 1rem 0;
        }
        &:after {
            padding-bottom: 120%;
        }
    }
    .product-meta {
        text-align: left;
        padding: 1rem;
        .product-meta-title {
            display: block;
            text-transform: uppercase;
            @include font-size(14);
        }
        .product-meta-price {
            display: block;
            @include font-size(18);
            font-weight: 600;
            color: #888;
        }
    }
}

// add to cart options
div.swatch-wrapper {
    border: none;
    padding: 0;
    a {
        text-align: center;
        position: relative;
        padding: 2px;
        border: 2px solid #ddd;
    }
    img {
        width: auto;
        @extend .absolute-center;
    }
    &.selected {
        border: none;
        padding: 0;
        a {
            border: 2px solid #000;
        }
    }
}
.variations-table {
    width: 100%;
    tr {
        float: left;
        width: 50%;
        &:first-child {
            .swatch-wrapper {
                a {
                    border-radius: 50%;
                    border: 1px solid transparent;
                }
                &.selected {
                    a {
                        border-color: black;
                    }
                }
            }
        }
        td {
            text-transform: uppercase;
            display: block;
            margin-bottom: 1rem;
            &:first-child {
                &:after {
                    content: ':';
                }
            }
        }
    }
}
input.minus,
input.plus {
    display: none;
}
#variations_clear {
    display: none!important;
}
.single_variation_wrap {
    margin: 1rem 0;
    .price {
        display: none;
    }
    .button {
        margin: 0;
    }
    .quantity {
        margin: 0;
        &.buttons_added {
            float: left;
            margin-bottom: 1rem;
            input.input-text.qty.text {
                width: 100px;
                margin: 0 1rem 0 0;
            }
        }
    }
}

.related-products {
    background: #fafafa;
    border-bottom: 1px solid #eee;
    .product-slider {
        background-color: transparent;
        margin: 2rem 0;
        .owl-nav {
            [class*='owl-'] {
                @include hide-text;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background: transparent url(../images/arrow.png) center no-repeat;
                height: 25px;
                width: 25px;
                &:hover {
                    background: transparent url(../images/arrow.png) center no-repeat;
                }
            }
            .owl-prev {
                transform: rotate(90deg);
                left: 0;
                @include breakpoint($tiny) {
                    left: -50px;
                }
            }
            .owl-next {
                transform: rotate(-90deg);
                right: 0;
                @include breakpoint($tiny) {
                    right: -50px;
                }
            }
        }
    }
}

.product-wrapper {
    margin-top: -330px;
    .product {
        @include grid();
        h6,
        .product_title,
        .price,
        .sizes {
            color: black;
        }
        .product_title {
            margin-bottom: 0;
        }
        .price {
            @extend h1;
        }
        .sizes {
            @include font-size(12);
            text-transform: uppercase;
            font-weight: 600;
        }
        .images {
            text-align: center;
            // overflow: hidden;
            .woocommerce-main-image {
                position: relative;
                display: block;
                &:before {
                    content: '';
                    background: url(../images/open-close.png) no-repeat right center;
                    width: 20px;
                    height: 33px;
                    position: absolute;
                    right: -10px;
                    top: -15px;
                }
            }
            .thumbnails {
                a {
                    overflow: hidden;
                    @include columns(3);
                    padding: 3rem .5rem 2rem;
                    img {
                        width: 100%;
                    }
                }
            }
        }
        .product-left {
            margin-bottom: 2rem; // for mobile
        }
        .product-right {
            clear: both;
        }
        @include breakpoint($medium) {
            .product-right,
            .product-left {
                @include columns(.5);
                clear: none;
            }
            .summary {
                padding-left: 100px;
                .description {
                    // padding-top: 180px;
                }
            }
            .product-features {
                li {
                    text-transform: uppercase;
                    @include font-size(12);
                    letter-spacing: 1px;
                    background: url(../images/list-bg.png) no-repeat left center;
                    padding-left: 3rem;
                }
            }
            .woocommerce-tabs {
                @include columns(1);
            }
        }
    }
}

.single_add_to_cart_button {
    @extend .solid;
    margin: 1rem 0 0;
    @include breakpoint($small) {
        margin: 0 0 0.5em;
    }
}

.cart-wrapper {
    .woocommerce .cart-collaterals,
    .woocommerce-page .cart-collaterals {
        // width: 80%;
        // margin: 0 auto;
        padding: 50px 0;
        .cart_totals,
        .shipping_calculator {
            text-align: left;
            width: 100%;
            @include breakpoint($medium) {
                @include columns(2);
            }
        }
    }
}

.woocommerce,
.woocommerce-page {

    .addresses {
        background: #f5f5f5;
        padding: 1.5rem;
    }

    form .form-row {
        padding: 0;
        margin: 0 0 14px 0;
    }

    table.shop_table,
    #payment,
    form.login,
    form.checkout_coupon,
    form.register,
    form.login,
    form.checkout_coupon,
    form.register {
        border-radius: 0;
    }

    .checkout_coupon {
        .form-row {
            @include breakpoint($small) {
                margin: 0;
            }
            .button {
                width: 100%;
            }
        }
    }

    input,
    textarea {
        padding: 0.5rem;
        border: 1px solid #eee;
        border-radius: 0!important;
        font-size: 1rem;
    }
    input {
        max-width: 100%;
        &.input-checkbox {
            width: auto;
        }
    }

    .button {
        padding: 0 2em;
    }

    .actions {
        .coupon {
            input[type='text'] {
                padding: 0.7em 0.5em;
            }
        }
        .button,
        input {
            line-height: 2.5;
        }
    }

    .chosen-container {
        max-width: 100%;
    }
    table {
        p {
            line-height: 1;

            font-size: 0.8751rem;
            margin: 0;
        }
    }
    table.shop_table {
        td {
            padding: 15px 12px;
        }
    }

    td.product-name dl.variation,
    td.product-name dl.variation {
        margin: 1em 0 0.5em;
    }

}

// alerts
.woocommerce-error,
.woocommerce-message,
.woocommerce-info {
    border: none;
    box-shadow: none;
    border-radius: 0;
    text-shadow: none;
    color: white;
    padding: .5rem;
    line-height: 1.5;
    text-align: center;
    @include breakpoint($small) {
        text-align: left;
    }
    &:before {
        padding: 0;
        left: initial;
        right: 1em;
        background: none;
        box-shadow: none;
        top: .5rem;
    }
    &.woocommerce-error {
        background: red;
    }
    &.woocommerce-message {
        background: #8fae1b;
    }
    &.woocommerce-info {
        background: #1e85be;
    }
    li {
        margin: 0;
    }
    // buttons within notices
    .wc-forward {
        border: none;
        padding: 0;
        text-transform: none;
        font-weight: 400;
        line-height: 1.5;
        color: white;

        display: block !important;
        float: none;
        margin: 0 0 0.5rem;
        @include breakpoint($small) {
            margin-right: 2rem !important;
            float: right;
        }

        &:hover {
            background: none;
            color: #222;
        }
    }
}

#customer_details {
    margin-bottom: 2rem;
}

.customer_details,
address {
    margin: 1rem 0;
    line-height: 1.25;
}
.customer_details dd {
    margin-bottom: 1rem;
}




// responsive tables
.shop_table {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}
/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    .woocommerce table.shop_table,
    .woocommerce-page table.shop_table {

        border-top: 3px solid #000;

        // Force table to not be like tables anymore
        display: block;
        thead, tbody, th, td, tr, tfoot {
            display: block;
        }

        // Hide table headers (but not display: none;, for accessibility)
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        tr {
            border-bottom: 3px solid #000;
        }

        td {
            &:not(.actions) {
                // Behave  like a "row"
                border: none;
                border-bottom: 1px solid #eee;
                position: relative;
                padding-left: 50%;
            }
        }

        td:before {
            // Now like a table header
            position: absolute;
            // Top/left values mimic padding
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

        tfoot {
            th {
                display: none;
            }
            td {
                // padding: 15px 12px;
                &:before {
                    // display: none;
                }
            }
        }


        // Label the data
        // default:
        td:nth-of-type(1):before { content: "Product"; }
        td:nth-of-type(2):before { content: "Price"; }
        &.cart {
            td:nth-of-type(1):before { content: ""; }
            td:nth-of-type(2):before { content: ""; }
            td:nth-of-type(3):before { content: "Product"; }
            td:nth-of-type(4):before { content: "Price"; }
            td:nth-of-type(5):before { content: "Quantity"; }
            td:nth-of-type(6):before { content: "Total"; }
        }
        &.my_account_orders {
            td:nth-of-type(1):before { content: "Order Number"; }
            td:nth-of-type(2):before { content: "Date"; }
            td:nth-of-type(3):before { content: "Status"; }
            td:nth-of-type(4):before { content: "Total"; }
        }
        tfoot {
            tr:nth-of-type(1) {
                td:nth-of-type(1):before { content: "Subtotal"; }
            }
            tr:nth-of-type(2) {
                td:nth-of-type(1):before { content: "Shipping"; }
            }
            tr:nth-of-type(3) {
                td:nth-of-type(1):before { content: "Total"; }
            }
        }
    }
}









// new single product add to cart input styles, since they dont use the extra features
.product {
    .cart {
        margin-top: 2rem;
        .quantity {
            float: left;
            width: 70px;
            margin-right: 1rem;
            .input-text.qty {
                width: 100%;
            }
        }
        .single_add_to_cart_button {
            margin-top: 0;
        }
    }
}